.main-chat
  .main-chat__group
    .main-chat__group__info
      .main-chat__group__info__name
        =@group.name
      %ul.main-chat__group__info__members
        Member :
        %li.main-chat__group__info__members__list
          - @group.users.each do |user|
            =user.name

    = link_to edit_group_path(@group), class: "link-btn" do
      .main-chat__group__edit-btn
        Edit

  .main-chat__message-list
    = render @messages
    
  .main-chat__message
    .main-chat__message__box
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
    